*{
    padding: 0;
    margin: 0;
}

/* .navbar{
    width: 100%;
    height: 10vh;
    border: 1px solid red;

} */

.navbar-div{
    background-color: blue;
}
#menu-toggle:checked + #menu {
    display: block;
  }